
<ion-header>
    <ion-navbar>
        <ion-title>التذاكر</ion-title>
    </ion-navbar>
    <ion-toolbar class="subheader" >
        <ion-segment (click)="getTickets()" [(ngModel)]="wantedTickets">
          <ion-segment-button (click)="getCancelled()" value="Canceled">
            التذاكر الملغاة
          </ion-segment-button>
            <ion-segment-button value="Booked">
                التذاكر المحجوزة
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="main-content">
        <p text-center *ngIf="noTickets">
          لا يوجد تذاكر
        </p>
      <p text-center *ngIf="noCancel">
        لا يوجد تذاكر ملغاه
      </p>
        <p text-center *ngIf="loading">
          <ion-spinner ></ion-spinner>
        </p>
        <div [ngSwitch]="wantedTickets">

            <ion-list *ngSwitchCase="'Booked'">

                <ion-item *ngFor="let ticket of mytickets">

                    <h2>رقم التذكرة : <span>{{ticket.nid}}</span></h2>
                    <h2>تاريخ الحجز: <span style="direction: ltr">{{getDate(ticket) | date:'y/M/d' }}</span></h2>
                    <p>اسم الراكب: {{ticket.name}}</p>
                    <h4 class="price">{{ticket.price}} ريال</h4>
                    <button ion-button outline (click)="cancelTicket(ticket)">الغاء</button>
                </ion-item>
                <!--<ion-item>
                    <h2>رقم التذكرة : <span>745424</span></h2>
                    <h2>تاريخ الحجز: <span>12/10/2017</span></h2>
                    <p>شركة السالم للنقل</p>
                    <h4 class="price">350 ريال</h4>
                    <button ion-button outline>الغاء</button>

                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>012745</span></h2>
                    <h2>تاريخ الحجز: <span>5/11/2015</span></h2>
                    <p>شركة الصافنات للنقل</p>
                    <h4 class="price">230 ريال</h4>
                    <button ion-button outline>الغاء</button>

                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>045224</span></h2>
                    <h2>تاريخ الحجز: <span>7/2/2013</span></h2>
                    <p>شركة السالم للنقل</p>
                    <h4 class="price">420 ريال</h4>
                    <button ion-button outline>الغاء</button>

                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>745424</span></h2>
                    <h2>تاريخ الحجز: <span>12/10/2017</span></h2>
                    <p>شركة السالم للنقل</p>
                    <h4 class="price">350 ريال</h4>
                    <button ion-button outline>الغاء</button>

                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>012745</span></h2>
                    <h2>تاريخ الحجز: <span>5/11/2015</span></h2>
                    <p>شركة الصافنات للنقل</p>
                    <h4 class="price">230 ريال</h4>
                    <button ion-button outline>الغاء</button>

                </ion-item>
-->

            </ion-list>

            <ion-list *ngSwitchCase="'Canceled'">
                <ion-item *ngFor="let ticket of CancelledTickets">
                    <h2>رقم التذكرة : <span>{{ticket.nid}}</span></h2>
                    <h2>تاريخ الحجز: <span>10/1/2017</span></h2>
                    <p>شركة الصافنات للنقل</p>
                    <h4 class="price">{{ticket.price}} ريال</h4>
                </ion-item>
                <!--<ion-item>
                    <h2>رقم التذكرة : <span>745424</span></h2>
                    <h2>تاريخ الحجز: <span>12/10/2017</span></h2>
                    <p>شركة السالم للنقل</p>
                    <h4 class="price">350 ريال</h4>
                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>012745</span></h2>
                    <h2>تاريخ الحجز: <span>5/11/2015</span></h2>
                    <p>شركة الصافنات للنقل</p>
                    <h4 class="price">230 ريال</h4>
                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>045224</span></h2>
                    <h2>تاريخ الحجز: <span>7/2/2013</span></h2>
                    <p>شركة السالم للنقل</p>
                    <h4 class="price">420 ريال</h4>
                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>745424</span></h2>
                    <h2>تاريخ الحجز: <span>12/10/2017</span></h2>
                    <p>شركة السالم للنقل</p>
                    <h4 class="price">350 ريال</h4>
                </ion-item>
                <ion-item>
                    <h2>رقم التذكرة : <span>012745</span></h2>
                    <h2>تاريخ الحجز: <span>5/11/2015</span></h2>
                    <p>شركة الصافنات للنقل</p>
                    <h4 class="price">230 ريال</h4>
                </ion-item>
-->
            </ion-list>
        </div>



    </div>
</ion-content>


