page-search-option {
    direction: rtl!important;
  ion-spinner {
    width: 22px;
    height: 22px;
    margin: 0 8px;
    & * {
      stroke: #f6bc44 !important;
      //fill: #fff !important;
    }
  }
    ion-content{
        background-color:#f1f1f1!important;

        ion-list{
            margin:0px!important;


            ion-item{
                border:0px !important;
                margin-bottom: 1px!important;
                padding:0px 10px 0 0!important;
                /*height: 40px;*/
                min-height: 40px;
                line-height: 40px;

                .item-inner{
                    border-bottom:0px solid #ddd!important;
                    padding: 0px!important;

                  ion-label{
                    display: flex;
                    margin: 0px !important;
                    /*height: 100%;*/
                    font-size: 16px;
                    max-width: 90px !important;

                    line-height: 20px;
                    white-space: normal;

                    &.holder {

                      display: flex;

                      padding-left: 6px;
                      justify-content: space-between;
                      height: 50px;
                      align-items: center;
                      flex: 1;
                      min-width: calc(100% - 90px);
                      span {
                        padding: 0 7px;
                        font-size: 13px;
                        color: #999;
                      }
                    }


                  }

                    ion-icon{
                        /*margin-top: 13px;*/
                        margin-left: 16px!important;
                        color: #f6bc44;
                    }

                  ion-select{
                    position: relative;
                    font-size: 13px;
                    height: 50px;
                    max-width: calc(100% - 90px)!important;
                    width: calc(100% - 90px)!important;
                    .select-icon{
                      margin-top: 5px;
                      .select-icon-inner{
                        color: #f6bc44!important;
                      }
                    }
                  }
                }

            }
        }

        .location-data{
            .location-map{
                ion-label{
                    padding: 5px 0px;
                }
            }
            .city{
                height: 40px!important;
            }
        }
    }
}

ion-navbar{
    ion-buttons{
        position: absolute!important;
        right: 10px!important;
        z-index: 99999;
        left: auto!important;

        button{
            padding: 5px!important;
            ion-icon{
                font-size: 30px;
            }
        }
    }
}
