page-edit-profile {
    direction: rtl!important;

    ion-content{
        background-color:#f1f1f1!important;
        ion-header {
          margin-bottom: 0 !important;
        }

      form {
        margin-bottom: 30px;
      }
      .float-btn {
        position: fixed;
        bottom: 0;
        left: 0;
      }
      ion-spinner {
        width: 20px;
        height: 20px;
        margin: 0 8px;
        * {
          stroke: #fff !important;
          fill: #fff !important;
        }
      }
        ion-list{
            margin:0px!important;

            ion-list-header{
                padding-right: 10px!important;
                padding-left: 10px!important;
                height: 30px;
                min-height: 30px;
                border:0px !important;
                margin-top:0px!important;
                ion-label{
                    margin: 0px!important;
                    font-weight: 600;
                    color: #2d3e52;
                }
            }

            ion-item{
                border:0px !important;
                margin-bottom: 1px!important;
                padding:0px 10px 0 0!important;
                /*height: 40px;*/
                min-height: 40px;
                line-height: 40px;

                .item-inner{
                    border-bottom:0px solid #ddd!important;
                    padding: 0px!important;

                  ion-label {
                    display: flex;
                    width: 100% !important;
                    max-width: 100% !important;
                    span {
                      width: 40%
                    }
                    input {
                      flex: 1;
                      border: none;
                      padding: 2px 6px;
                      margin-left: 7px;
                      &:focus {
                        background: linear-gradient(to left,#faf7f7,#ffffff);
                        border-radius: 6px;
                      }
                    }
                  }

                    ion-icon{
                        /*margin-top: 13px;*/
                        margin-left: 16px!important;
                        color: #f6bc44;
                    }

                    ion-select{
                        max-width: calc(100% - 120px)!important;
                        width: calc(100% - 120px)!important;
                        .select-icon{
                            margin-top: 5px;
                            .select-icon-inner{
                                color: #f6bc44!important;
                            }
                        }
                    }
                }

            }
        }

        .user-data{
            ion-item{
                height: 40px;
            }
        }
        .location-data{
            .location-map{
                ion-label{
                    padding: 5px 0px;
                }
            }
            .city{
                height: 40px!important;
            }
        }
    }
}

ion-navbar{
    ion-buttons{
        position: absolute!important;
        right: 10px!important;
        z-index: 99999;
        left: auto!important;

        button{
            padding: 5px!important;
            ion-icon{
                font-size: 30px;
            }
        }
    }
}
