page-complaints-reply {
    ion-content{
        background-color:#f1f1f1!important;

        ion-list{
            padding:0px;
            margin: 0 0 10px 0px!important;
            border: 0px;
            ion-item{
                margin-bottom: 10px!important;
                padding: 0px!important;
                border-radius: 4px!important;
                direction: rtl!important;
                border: 0px!important;

                .item-inner{
                    padding: 0px!important;
                    border: 0px!important;
                    input{
                        margin: 8px!important;
                        font-size: 16px;
                    }
                    textarea{
                        margin: 8px!important;
                        font-size: 16px;  
                        height: 120px;
                    }
                    .complaints{
                        white-space: normal;
                        padding: 0px 5px;
                    }
                }

            }
        }
        .old-reply{
            ion-label{
                margin-right: 80px !important;
                padding: 5px 0px;
                margin: 0px;
                min-height: 80px;
                height: 100%;
                

                ion-thumbnail{
                    position: absolute;
                    right: 10px;
                    /*margin-top: 10px;*/
                    height: 60px;
                    width: 60px;
                    img{
                        margin-top: 5px;
                        width: 100%;
                        height: 100%;
                    }
                }
                h2{
                    margin-top: 5px;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 14px;
                    height: auto;
                    /*max-height: 50px;*/
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    margin-left: 30px;
                    ion-icon{
                        margin-left: 5px;
                    }
                }
                button{
                    position: absolute;
                    bottom: 5px;
                    left: 10px;
                    height: 26px;
                    min-height: 26px;
                    line-height: 26px;
                    border-radius: 15px;
                    border-color: #f6bc44;
                    color: #2d3e52;
                    padding: 0px 10px;
                }
                button.activated{
                    background-color: #f6bc44;
                }

            }
        }


        ion-row{
            padding: 0px!important;
            button{
                background-color: #f6bc44 !important;
                border-radius: 5px !important;
                color: #2d3e52 !important;
            }
        }
    }



    ion-navbar{
        ion-buttons{
            position: absolute!important;
            right: 10px!important;
            z-index: 99999;
            left: auto!important;

            button{
                padding: 5px!important;
                ion-icon{
                    font-size: 30px;
                }
            }  
        }
    }

    ion-footer{
        direction: rtl;
        ion-toolbar{
            min-height: 44px;
            height: 44px;
            .toolbar-content{
                ion-item{
                    border-radius: 18px!important;
                    height: 36px;
                    min-height: 36px;
                    .item-inner{
                        border: 0px!important;
                        ion-input{
                            input {
                                margin: 6px!important;
                                font-size: 16px;
                                color: #2d3e52;
                            }
                        }
                    }

                }
            }
            ion-buttons{
                text-align: center!important;
                button{
                    ion-icon{
                        padding: 0px 5px!important;
                        color: #2d3e52;
                    }
                }
            }
        }
    }
}
