page-transporter-home {
    ion-toolbar {
      ion-title {
        .toolbar-title {
          color: #ccc !important;
        }
      }
    }
    ion-content{
        background-color:#f1f1f1!important;
        .no-data-msg {
          padding: 10px;
          font-size: 16px;
          text-shadow: 1px 1px #fcf7f7;
        }
        .inner-content{
          .btns {
            height: 100%;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
              border-radius: 15px;
              min-width: 55px;
            }
          }
            ion-list{
                margin:0px!important;
              padding-bottom: 80px;
                ion-list-header{
                    padding-right: 10px!important;
                    padding-left: 10px!important;
                    height: 30px;
                    min-height: 30px;
                    border:0px !important;
                    margin-top:0px!important;
                    ion-label{
                        margin: 0px!important;
                        font-weight: 600;
                        color: #999;
                      align-items: center;
                    }
                }

                ion-item{
                    border:0px !important;
                    //border-bottom: 1px solid #ddd!important;
                    padding:0px 10px 0 10px!important;
                    margin-bottom: 6px !important;
                    font-size:14px!important;
                    color:#2d3e52!important;
                    height: auto!important;
                    min-height: 80px!important;
                    &:first-child {
                        margin-top: 5px !important;
                    }
                    .item-inner{
                        padding-right: 0px!important;
                        border:0px !important;
                        ion-label{
                            margin-right: 10px !important;
                            padding: 5px 0px;
                            //margin: 0px;
                            height: 100%;

                            ion-thumbnail{
                                position: absolute;
                                right: 10px;
                                margin-top: 5px;
                                height: 60px;
                                width: 60px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            h2{
                                margin-top: 0px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: 14px;
                                font-weight: 600;
                                width:calc(100% - 66px);
                            }
                            h4{
                                margin-top: 2px;
                                margin-bottom: 2px;
                                overflow: hidden;
                                font-size: 14px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-left: 60px;
                                width:calc(100% - 66px);
                            }

                            button{
                                position: absolute;
                                bottom: 5px;
                                left: 10px;
                                height: 26px;
                                min-height: 26px;
                                line-height: 26px;
                                border-radius: 15px;
                                border-color: #f6bc44;
                                color: #2d3e52;
                                padding: 0px 10px;
                            }
                            .item-first{
                                 position: absolute;
                                top: 5px;
                                left: 10px;
                                height: 26px;
                                min-height: 26px;
                                line-height: 26px;
                                border-radius: 15px;
                                border-color: #f6bc44;
                                color: #2d3e52;
                                padding: 0px 10px;
                              min-width: 55px;
                            }
                            button.activated{
                                background-color: #f6bc44;
                            }

                        }

                    }
                }
            }
        }
        .add-path{
            position: fixed;
            bottom: 70px;
            left: 10px;
            button{

                border-radius: 20px;
                font-weight: 600;
                padding: 5px 15px;
            }
            button.activated{
                background-color: #f4ab13;
                color: #2d3e52;
            }

        }
    }

    .search-filter{
        /*padding:0px;*/
        .toolbar-background{
            background-color:#fff!important;
            border-color: #ddd!important;
        }
        ion-title{
            padding:0 10px;
            .toolbar-title{
                font-size: 16px;
                text-align: right!important;
            }
            ion-icon{
                float: left;
                margin-top: 5px;
                margin-left: 5px;
            }
        }

    }
}
