page-sendlocation {
    ion-content{
        background:#f1f1f1!important;
        text-align: right;
        direction:rtl;
        ion-list{
            margin:10px 0px 20px!important;
            ion-item{
                padding: 0px!important;
                margin-bottom: 10px!important;
                border: 0px !important;
                border-radius: 5px!important;
                .item-inner{
                    border: 0px !important;
                    padding: 0px!important;
                    ion-input{
                        input {
                            margin: 8px!important;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        ion-row{
            padding: 0px;
            button{
                background-color: #f6bc44 !important;
                border-radius: 5px !important;
                color: #2d3e52 !important;
            }
        }

        ion-card{
            margin:0px!important; 
            width: 100%!important; 
            text-align: center!important;
            background: transparent!important; 
            box-shadow: none!important;
            ion-card-content{
                font-size: 16px!important;
                line-height: 24px!important;
                padding: 10px 5px 20px!important;

            } 
        }
    }

    ion-navbar{
        ion-buttons{
            position: absolute!important;
            right: 10px!important;
            z-index: 99999;
            left: auto!important;

            button{
                padding: 5px!important;
                ion-icon{
                    font-size: 30px;
                }
            }  
        }
    }
}