hsa-loader {

  &.light {
    #loader {
      .loader-circle {
        border-top-color: color($colors, light);
      }
    }
  }


    #loader {
    position: relative;
    z-index: 5999;
    width: 20px;
    height: 20px;
    
    //background-color: red;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    .loader-circle {
      width: 80%;
      height: 80%;
      border-radius: 50%;
      border:2px solid transparent;
      border-top-color: color($colors, primary);
      animation: loader 0.6s linear infinite;

    }
    @keyframes loader {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
