page-districts{

    ion-content{
        background-color: #f1f1f1!important;

        ion-card{
            margin:0px!important;
            width: 100%!important;
            text-align: center!important;
            background: transparent!important;
            box-shadow: none!important;
            ion-card-content{
                font-size: 16px!important;
                line-height: 24px!important;
                padding: 20px 15px!important;

            }
        }
        ion-grid{
            padding: 10px!important;
            ion-row{
                ion-col{
                    button{
                        width: 100%!important;
                        border-radius: 30px!important;
                        margin: 0px!important;
                        padding: 0 10px!important;
                        font-size:14px!important;
                        &.activated {
                          background-color: #f6bc44;
                          color:#fff
                        }
                        .button-inner{
                            text-align:right;
                            padding-right:5px;
                            justify-content: right;
                            ion-icon{
                                position: absolute;
                                left: 10px;
                            }
                        }

                    }
                }
            }
        }

    }
}
.city-btn:nth-child(odd) button{
    border-color: #f6bc44;
    color: #2d3e52;
}
.city-btn:nth-child(even) button{
    border-color: #2d3e52;
    color: #f6bc44;
}
.city-btn:nth-child(odd) button.activated{
    background-color: #f6bc44;
}
.city-btn:nth-child(even) button.activated{
    background-color: #2d3e52;
}
ion-navbar{
    .back-button{
        color: #2d3e52;
        position: absolute;
        left: 0px;
        padding:5px 10px;

        ion-icon{
         font-size:28px;
        }
        .back-button-text{
            display: none;
        }
    }
}
